<div class="container-fluid">
    <div class="row">

        <div class="col-6 margin-top">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Dispensador
                </div> <!--card header-->
                <div class="card-body">
                    Estatus: Aqui va la variable (Apagado|Encendido)
                </div> <!--card body-->
                <div class="card-footer">
                    <div class="row">

                        <div class="col-3">
                            <input [disabled]="!btn_active_servo_state" (click)="start_servo()" type="button" value="Activar dispensador" class="btn btn-block bg-primary text-white">
                        </div> <!--col 3-->

                    </div> <!--first row-->
                </div> <!--card footer-->
            </div> <!--card -->
        </div> <!--first col inside first row-->

        <div class="col-6 margin-top">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Cantidad de croquetas
                </div> <!--card header-->
                <div class="card-body">
                    Cantidad: {{distance}}
                </div>
            </div> <!--card-->
        </div> <!--second col inside first row-->

    </div> <!--first row inside first container fluid-->

    <div class="row">
        <div class="col-12 margin-top-5">
            <div class="card">
                <div class="card-header bg-warning text-white">Registro de activaciones</div>
                <div class="card-body">
                    <div class="row">

                        <div class="form-check">
                            <input (click)="get_activations_real_time()" class="form-check-input" type="checkbox" value="" id="real_time_feed">
                            <label class="form-check-label" for="real_time_feed">
                                Actualizar en tiempo real
                            </label>
                        </div>

                        <table class="mt-3 table table-striped table-bordered">
                            <thead style="display:table; table-layout:fixed; width: calc( 100% - 1em ) !important;">
                            <tr>
                                <td>Usuario que activó</td>
                                <td>Fecha</td>
                            </tr>
                            </thead>
                            <tbody style="display: inline-block !important; min-width: 100% !important; height:33vh !important; min-height:33vh !important; max-height:55vh !important; overflow-y: auto !important;">
                            <tr *ngFor="let activation of activations_lists" style="display:table; width:100%; table-layout:fixed;">
                                <td>{{activation.username}}</td>
                                <td>{{activation.date}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">

                        <div class="col-lg-2">
                            <input (click)="get_activation_registers()" [disabled]="!btn_active_lectures_state" class="btn btn-block bg-warning text-white" type="button" value="Actualizar">
                        </div>
                    </div>

                </div> <!--card-footer-->
            </div> <!--card-->
        </div> <!--first col inside second row-->
    </div> <!--second row inside first container fluid-->

</div> <!--first container fluid-->