<div class="card">
    <div class="card-header bg-primary text-white">Registro de activaciones</div>
    <div class="card-body">
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead style="display:table; table-layout:fixed; width: calc( 100% - 1em ) !important;">
                <tr>
                    <td>Usuario que activó</td>
                    <td>Fecha</td>
                </tr>
                </thead>
                <tbody style="display: inline-block !important; min-width: 100% !important; height:33vh !important; min-height:33vh !important; max-height:55vh !important; overflow-y: auto !important;">
                <tr *ngFor="let activation of activations_lists" style="display:table; width:100%; table-layout:fixed;">
                    <td>{{activation.username}}</td>
                    <td>{{activation.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer">
        <div class="row">

            <div class="col-lg-2">
                <input (click)="get_activation_registers()" class="btn btn-block bg-primary text-white" type="button" value="Actualizar">
            </div>
        </div>

    </div>
</div>
