<div class="card">
    <div class="card-header bg-primary text-white">Ingrese sus credenciales</div>
    <div class="card-body">
        <div class="row">

            <div class="col-12">
                <label for="email">Correo electrónico</label>
            </div>
            <div class="col-11">
                <input [(ngModel)]="email" class="form-control" type="email" name="email" id="email">
            </div>
            <div class="col-1">
                <button (click)="clear_email_input()" class="btn btn-block bg-primary text-white"><i class="fa fa-trash"></i></button>
            </div>

        </div> <!--first row-->
        <div class="row mt-3">

            <div class="col-12">
                <label for="password">Password</label>
            </div>
            <div class="col-11">
                <input [(ngModel)]="password" class="form-control" type="password" name="password" id="password">
            </div>
            <div class="col-1">
                <button (click)="clear_password_input()" class="btn btn-block bg-primary text-white"><i class="fa fa-trash"></i></button>
            </div>

        </div> <!--second row-->
    </div>
    <div class="card-footer">
        <div class="row">

            <div class="col-lg-4">
                <input (click)="log_in()" class="btn btn-block bg-primary text-white" type="button" value="Iniciar sesión">
            </div>
        </div>

    </div>
</div>
